.modal-popup {
  width: 400px;
  max-height: 80vh;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.tab {
  padding: 10px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.tab.active {
  border-bottom: 2px solid #007bff;
}

.close-button {
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: red;
  color: black;
}

.modal-body {
  padding: 20px;
  overflow-y: auto; /* Enables scrolling for the modal body */
  flex-grow: 1;
}
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.forgot-password {
  text-decoration: underline;
  cursor: pointer;
}

.btn-login,
.btn-register {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.btn-google-login {
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.checkbox label {
  font-size: 14px;
  justify-content: center;
  display: grid;
  margin: 5px;
}

.checkbox input {
  margin-right: 5px;
}
.check-dev-pub{
  display: flex   ;
  justify-content: center;
}
.login-form, .register-form {
 background-color: white;
}