/* GameUpload.css */

.game-upload-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
.filter-options {
  display: grid;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group input[type="checkbox"],
.form-group button,
.form-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
}

.dropdown select {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error-message {
  color: #ff4d4d;
  text-align: center;
}

.success-message {
  color: #4CAF50;
  text-align: center;
}

/* Additional styling for better mobile support */
@media (max-width: 600px) {
  .game-upload-container {
      padding: 15px;
  }

  .dropdown-button, .form-group select, .form-group input[type="text"], button[type="submit"] {
      font-size: 14px;
  }
}
