.game-lists {
    display: flex;
  }
  .games-grids {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Tạo lưới cho các game */
    gap: 20px; /* Khoảng cách giữa các game */
    flex-grow: 1; /* Lưới game sẽ mở rộng ra khi có thêm không gian */
    padding: 50px;
  }
  
  .game-cards {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Hiệu ứng shadow */
    width: 250px;
    height: 250px;
  }
  .game-cards:hover {
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.6); /* Viền sáng hơn khi hover */
}
  .game-cards h4 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .game-cards p {
    color: gray;
  }
  
  .game-cards img {
    width: 100%;
    height: 75%;
    border-radius: 8px;
  }