/* Container for the search input and button */
.search-container {
    display: flex;
    justify-content: flex-end;
    position: relative; /* Đặt position relative để các phần tử con có thể dùng position absolute */
    width: 300px;
    z-index: 1000;
}

/* Inner container for the search input and button */
.search-container-real {
    border: 2px solid blue;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
    transition: all 0.3s ease;
    position: relative; /* Đặt relative để popup-content sử dụng position absolute */
}

/* Khi search không hiển thị, thu nhỏ lại */
.search-container-real.hidden {
    width: 50px; /* Chỉ hiển thị nút search */
    transition: all 0.3s ease;
}

/* Search input field */
.Searchtext {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
    flex: 1;
    color: #333;
    display: block;
    transition: all 0.3s ease;
}

.Searchtext.hidden {
    display: none;
}

/* Search button with icon */
.search-button {
   
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.search-button:hover {
    background: none;
}

/* Popup content styling */
.popup-content {
    position: absolute;
    top: 100%; /* Đặt ngay dưới search bar */
    left: 0;
    width: 100%; /* Đặt chiều rộng bằng thanh tìm kiếm */
    background: #fff;
    padding: 10px;
    z-index: 1000;
    max-height: 300px; /* Giới hạn chiều cao cho kết quả */
    overflow-y: auto; /* Cuộn dọc khi có quá nhiều kết quả */
    border-radius: 10px;
    border: 1px solid #ccc; /* Thêm border để tách biệt kết quả tìm kiếm */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.search:hover {
    background-color: #ececec;
}

/* Image within search results */
.searchimg {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.searchinfo {
    flex: 1;
    color: #333;
    margin-left: 10px;
}

/* Links in search results */
.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
